.body {
	max-width: 960px;
	display: flex;
	flex-direction: column;
	align-items:center;

}

#videoCommentBlock{
	width:640px;
	margin: 20px;

    font-size: 20px;
    font-weight: 600;
}

#postLikeblock{
	width:640px;
	display: grid;
	grid-template-columns: 1fr 65% 1fr 1fr;	
	margin-bottom: 20px;
}

#commentInputBlock {
	width:640px;
	display: flex;
	align-items: center;
}
#commentInputBlock input[type=text], select{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 8px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
#commentInputBlock button {
	width: 85.33px;
}

.islike {
	color: #E35555;
	cursor: pointer;
}
.islike:hover {
	color: #555;
}
.dislike {
	cursor: pointer;
}
.dislike:hover {
	color: #E35555;
}

