<!-- <header class="main-header clearfix">
	<a class="header-icon-link" href="/"><img class="header-icon" alt="ObeObeKo icon" src="../../public/img/logo_blue_65.png">謳歌</a>
    
    <div class="flex-container"></div>

    <ul class="navigation-list">
     	<li><a href="/">首頁</a></li>
        <li><a href="/member/signin.html">登入</a></li>
        <li><a href="/member/signup.html">註冊</a></li>
    </ul>
</header> -->
<div id="Navbar-container" class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 80%; margin: 0 auto;">
            <a class="navbar-brand" href="/" style="color:#6cc5d9;">
                <img src="../../public/img/logo_blue_65.png" width="30" height="30" class="d-inline-block align-top" alt="">
                謳歌
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/" style="color:#6cc5d9;">首頁 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/member/signin.html">登入</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/member/signup.html">註冊</a>
                </li>
            </ul>
        </div>
    </nav>
</div>